{% extends 'base.html' %}
{% block content %}
<a href="{% url 'posts:index' %}" class="btn btn-seconndary btn-sm mb-3">Back to Posts</a>
<h1 class="text-senter mb-3">{{ post.title }}</h1>
<p class="mb-3">{{post.body}}</p>


{% if error_message %}
<p class="alert alert-danger">
    <strong>{{ error_message }}</strong>
</p>
{% endif %}

<form action="{% url 'posts:vote' post.id %}" method="post">
    {% csrf_token %}
    {% for choice in post.rating_set.all %}
    <button type="submit" name="like" value={{choice.id}} class="btn btn-success btn-md btn-block mt-4">Like</button>
    <button type="submit" name="dislike" value={{choice.id}} class="btn btn-danger btn-md btn-block mt-4">Dislike</button>
    {% endfor %}
</form>
{% endblock %}